<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">


    <title>MongoChat</title>

    <script>
        const ROOM_ID = "<%= roomId %>"
        const USERHASID = "<%= userhasname %>"
    </script>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

    <style>
        body {
            margin: 0 !important;
            padding: 0 !important;
        }

        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: white;
            padding: 10px 0 0 15px;
        }

        .bag {
            height: 100vh;
            display: flex;
            justify-content: center;
        }

        .cab2,
        .cab2b {
            background-color: rgb(22, 22, 22);
            max-width: 30% !important;
            min-width: 30% !important;
            flex: 0.3;
            display: flex;
            flex-direction: column;
        }

        .main__chat_window {
            flex-grow: 1;
            overflow-y: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
        }

        .main__chat_window::-webkit-scrollbar,
        .cab1-body::-webkit-scrollbar {
            display: none;
        }

        .messages,
        .userslist {
            margin: 0 !important;
            padding: 0 !important;
            word-wrap: break-word !important;
            list-style: none;
            flex-wrap: wrap;
            flex-direction: column;
        }

        .message,
        .usernames {
            word-wrap: break-word !important;
            flex-wrap: wrap;
            flex-direction: column;
            margin: 3% !important;
            padding: 2% 4% !important;
            border-radius: 6px;
            color: white;
            background-color: #6264A7;
        }

        .message span {
            font-weight: 500;
        }

        .main__message_container {
            min-height: 8% !important;
            display: flex;
            background-color: transparent;
            justify-content: center;
        }

        .main__message_container input {
            position: fixed;
            bottom: 2%;
            height: 5% !important;
            width: 23% !important;
            border: none !important;
            border-radius: 6px;
            padding: 0 0.5%;
            background-color: white;
            color: black;
        }

        .cab2header {
            display: flex;
            flex-direction: row;

        }

        .chaticon {
            font-size: 150%;
            color: white;
            display: flex;
            justify-content: flex-end;
            align-self: center;
            padding-right: 30px;
            flex-grow: 1;
            cursor: pointer;
        }

        .topheader {
            position: fixed;
            top: 0;
            left: 0;
            width: 20%;

        }
    </style>
</head>

<body background="wavey.svg">



    <div class="bag">
        <div class="topheader">
            <h2>Lets Video <br> Meet</h2>
        </div>
        <div class="cab2">

            <div class="cab2header">
                <h3>Chats</h3>
                <div onclick="govideomode()" class="chaticon">
                    <i>GoVideoMeet </i>
                    <i class="fas fa-video" style="padding-left: 10px; align-self: center;"></i>
                </div>
            </div>
            <div class="main__chat_window">
                <ul class="messages">

                </ul>

            </div>
            <div class="main__message_container">
                <input id="chat_message" type="text" placeholder="Type message here...">
            </div>


        </div>
    </div>






    <script src="/socket.io/socket.io.js"></script>
    <script defer>
            (function () {

                // Connect to socket.io
                const socket = io('/');
                console.log('Connected to socket...');
                socket.emit('join-roomfromchat', ROOM_ID, USERHASID)

                let text = $("input");
                // when press enter send message
                $('html').keydown(function (e) {
                    if (e.which == 13 && text.val().length !== 0) {
                        // console.log(myname)
                        socket.emit('message', text.val());
                        text.val('')

                    }

                });
                socket.on("createMessage", (mesar) => {
                    if (mesar.userId == USERHASID) {
                        $(".messages").append(`<li class="message" style="text-align: right !important;"><span style = "color: #363875;">${mesar.userId} (me)</span><br/>${mesar.message}</li>`);
                    } else {
                        $(".messages").append(`<li class="message"><span>${mesar.userId}</span><br/>${mesar.message}</li>`);
                    }
                    scrollToBottom()

                })



            })();

        const scrollToBottom = () => {
            var d = $('.main__chat_window');
            d.scrollTop(d.prop("scrollHeight"));
        }
        const govideomode = () => {
            location.href = `clubhome?usernamed=${USERHASID}&giveroomid=${ROOM_ID}`
        }

    </script>
</body>

</html>