<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- import styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="styles2.css">

    <title>Lets Video Meet | Chat</title>


    <!-- scripts and packages -->
    <script>
        const ROOM_ID = "<%= roomId %>"
        const USERHASID = "<%= userhasname %>"
        window.history.replaceState('', '', `/${ROOM_ID}`);
    </script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>


</head>

<body background="wavey.svg">


    <!-- main container -->
    <div class="bag">
        <div class="topheader">
            <h2>Lets Video <br> Meet</h2>
        </div>


        <!-- chats container -->
        <div class="cab2">

            <div class="cab2header">
                <h3>Chats</h3>
                <div onclick="govideomode()" class="chaticon">
                    <i>GoVideoMeet </i>
                    <i class="fas fa-video" style="padding-left: 10px; align-self: center;"></i>
                </div>
            </div>
            <div class="main__chat_window">
                <ul class="messages">

                </ul>

            </div>
            <div class="main__message_container">
                <input id="chat_message" type="text" placeholder="Type message here...">
            </div>


        </div>


        <!-- controls container -->
        <div class="closeheader">
            <span class="fa-stack" style="align-items: center;">
                <i class="fas fa-circle fa-stack-2x" style="color:#6264A7;"></i>
                <div class="mbutton fa-stack-1x fa-inverse">
                    <div onclick="leaveMeeting()" class="leave_button">
                        <i class="fas fa-times"></i>
                    </div>
                </div>
            </span>
            <br>
            <span class="fa-stack" style="align-items: center;">
                <i class="fas fa-circle fa-stack-2x" style="color:#6264A7;"></i>
                <div class="mbutton fa-stack-1x fa-inverse">
                    <div onclick="copylink()" class="copy_button">
                        <i class="fas fa-share-alt"></i>
                    </div>
                </div>
            </span>
            <br>
            <span class="fa-stack" style="align-items: center;">
                <i class="fas fa-circle fa-stack-2x" style="color:#6264A7;"></i>
                <div class="mbutton fa-stack-1x fa-inverse">
                    <div onclick="govideomode()" class="video_button">
                        <i class="fas fa-video"></i>
                    </div>
                </div>
            </span>
        </div>
    </div>


    <!-- essential scripts and packages -->
    <script src="/socket.io/socket.io.js"></script>
    <script defer>
        (function () {

            // Connect to socket.io
            const socket = io('/');
            console.log('Connected to socket...');
            socket.emit('join-roomfromchat', ROOM_ID, USERHASID)

            let text = $("input");
            // when press enter send message
            $('html').keydown(function (e) {
                if (e.which == 13 && text.val().length !== 0) {
                    socket.emit('message', text.val());
                    text.val('')
                }
            });


            // append new message to chatbox
            socket.on("createMessage", (mesar) => {
                if (mesar.userId == USERHASID) {
                    $(".messages").append(`<li class="message" style="text-align: right !important;"><span style = "color: #363875;">${mesar.userId} (me)</span><br/>${mesar.message}</li>`);
                } else {
                    $(".messages").append(`<li class="message"><span>${mesar.userId}</span><br/>${mesar.message}</li>`);
                }
                scrollToBottom()

            })



        })();



        // button handlers
        const scrollToBottom = () => {
            var d = $('.main__chat_window');
            d.scrollTop(d.prop("scrollHeight"));
        }
        const govideomode = () => {
            location.href = `clubhome?usernamed=${USERHASID}&giveroomid=${ROOM_ID}`
        }
        const leaveMeeting = () => {
            location.href = `${ROOM_ID}`
        }


        // copy invite link
        function copylink() {
            var textArea = document.createElement("textarea");
            textArea.value = `${document.location.href}`
            document.body.appendChild(textArea);


            /* Select the text field */
            textArea.select();
            textArea.setSelectionRange(0, 99999); /* For mobile devices */

            /* Copy the text inside the text field */
            document.execCommand("copy");


            /* Alert the copied text */
            alert("Copied Invite Link : " + textArea.value);

            document.body.removeChild(textArea);
        }
    </script>
</body>

</html>