<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lets Video Meet | Input User</title>


    <!-- import styles -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="styles3.css">


    <!-- import scripts -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>

</head>


<body background="wavey.svg">


    <!-- main container -->
    <div class="bag">
        <div class="topheader">
            <h2>Lets Video <br> Meet</h2>
        </div>


        <!-- form container -->
        <div class="cab2">
            <h2 style="text-align: center; padding-bottom: 2%;">Input User</h2>
            <div class="formbox">
                <form action="/clubreq" method="GET" style="min-width: 100%;">
                    <b>Username : </b> <input type="text" name="usernamed" size="30" id="userhasid" /><br><br>
                    <b>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Room : </b> <input type="text" name="giveroomid" size="30"
                        id="roomid" /><br><br>


                    <!-- buttons container -->
                    <div class="bttns">
                        <div onclick="chatbn()" class="chaticon">
                            <i class="fas fa-comment-alt"></i>
                            <br><i>GoChat </i>
                        </div>
                        <div onclick="videobn()" class="chaticon">
                            <i class="fas fa-video"></i>
                            <br><i>GoVideoMeet </i>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>


    <!-- essential script -->
    <script>
        var ubn = document.getElementById('userhasid')
        var rbn = document.getElementById('roomid')


        // get room id from the server
        const ROOM_ID = "<%= roomhasid %>"
        if (ROOM_ID) {
            rbn.value = ROOM_ID
        }


        // go to chatscreen
        const chatbn = () => {
            if (ubn.value.length > 0 && rbn.value.length > 0) {
                location.href = `clubreq?usernamed=${ubn.value}&giveroomid=${rbn.value}&og=false`
            } else {
                window.alert('please input the username and room')
            }
        }


        // go to video meeting
        const videobn = () => {
            if (ubn.value.length > 0 && rbn.value.length > 0) {
                location.href = `clubhome?usernamed=${ubn.value}&giveroomid=${rbn.value}&og=false`
            } else {
                window.alert('please input the username and room')
            }
        }


        // go to video meeting when enter is pressed
        let text = $("input");
        $('html').keydown(function (e) {
            if (e.which == 13 && text.val().length !== 0) {
                videobn()
            }

        });

    </script>


</body>


<!-- a notification to inform that room id has been extracted from invite link -->
<script>
    var textArea = document.createElement("textarea");
    textArea.value = "Room id has been filled using invite link, Please enter the username";

    // Avoid scrolling to bottom
    textArea.style.top = "4%";
    textArea.style.left = "30%";
    textArea.style.width = "40%";
    textArea.style.border = "none";
    textArea.style.fontWeight = "600";
    textArea.style.backgroundColor = "transparent";

    textArea.style.color = "white";
    textArea.style.position = "fixed";

    document.body.appendChild(textArea);
    setTimeout(
        function () {
            document.body.removeChild(textArea);
        }, 5000
    )
</script>

</html>