<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lets name</title>
</head>

<body background="wavey.svg">
    <h2>Input user</h2>
    <form action="/clubreq" method="GET">
        username : <input type="text" name="usernamed" size="30" /><br><br>
        room : <input type="text" name="giveroomid" size="30" /><br><br>
        <input type="submit" value="Send" /><br><br>
        <hr>
    </form>

</body>

</html>