body{
    margin: 0 !important;
    padding: 0 !important;
}

.bag{
    height: 100vh;
    display: flex;
}

.cab2{
    flex: 0.2;
    display: flex;
    flex-direction: column;
}

.main__chat_window {
    flex-grow: 1;
    overflow-y: auto;
    color: yellow;
}

.messages{
    color: red;
    list-style: none;
}

.main__message_container {
    padding: 22px 12px;
    display: flex;
    color: blue;
}

.main__message_container input {
    flex-grow: 1;
    background-color: transparent;
    border: none;
    color: green;
}


.cab1{
    flex: 0.8;
    display: flex;
    flex-direction: column;
}

.cab1-header{
    background-color: black;
    color: white;
}

.cab1-body{
    position: relative;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.cab1-footer{
    background-color: transparent;
    justify-content: space-between;
    color: white;
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 3%;
}

.buttons_controls{
    font-size: 175%;
    align-items: center;
    display: flex;
    flex-direction: row;
    /* cursor: pointer; */
}

.fa-stack:hover .fa-circle{
    color: #9296ff;

} 

.fa-circle {
    color: #6264A7;
}
